name: Server CI

on:
  push:
    branches: [ main ]
    paths:
      - server/**
  pull_request:
    branches: [ main ]
    paths:
      - server/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - working-directory: server
      run: composer validate
    - uses: actions/cache@v2
      id: composer-cache
      with:
        path: server/vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - working-directory: server
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest
